@page
@model Samanik.Web.Pages.MainPage.AboutModel
@{
    ViewData["Title"] ="درباره ما | بانوهلث";
    ViewData["Description"] = "";
    ViewData["Keywords"] ="";
}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Index">خانه</a></li>
                        <li>درباره ما</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about_bg_area">
    <div class="container">
        <!--about section area -->
        <section class="about_section mb-60">
            <div class="row align-items-center">
                <div class="col-12">
                    <figure>
                        <div class="about_thumb">
                            <img src="~/Them/About/About.png" alt="">
                        </div>
                        <figcaption class="about_content">
                            <h1>درباره ی سمانیک سلامت گستر</h1>
                            <p>در حال حاضر بیش از 20 محصول در زمینه بیماری های دیابت، کبد، کنترل وزن، تامین املاح، بیماریهای زنان و تقویت سیستم ایمنی در سبد محصول ما ارائه می شود.  محصولاتی از جنسینگ کره ای، 2 محصول جدید برای مدیریت و درمان دیابت نوع 2، فراورده های آنتی اکسیدان و محصولبرای بهبود واریکوزیس و مشکلات عروق از این محصولات می باشند.</p>
                            <div class="about_signature">
                                <img src="~/Them/assets/img/about/about-us-signature.png" alt="">
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>
        <!--about section end-->
    </div>
</div>
<!--about bg area end-->
