<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>@ViewBag.Title</title>
<meta name="description" content="@ViewBag.Description">
<meta name="keywords" content="@ViewBag.Keywords">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#c40316">