@page "{id}"
@model Samanik.Web.Areas.Administration.Pages.Users.UserRoles.IndexModel
@{
    Layout = "_AdminLayout";
}

<div class="card">

    <div id="viewAll" class="card-body table-responsive">
        <form  method="post" enctype="multipart/form-data" class="d-inline">
            <input asp-for="@Model.model.UserId" type="hidden" />
            <table class="table table-striped" id="userRolesTable">
                <thead>
                    <tr>
                        <th>
                            Role
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.model.UserRoles.Count(); i++)
                    {
                        <tr>
                            <td>
                                <input asp-for="@Model.model.UserRoles[i].RoleName" type="hidden" />
                                @Model.model.UserRoles[i].RoleName
                            </td>
                            <td>
                                <div class="form-check m-1">
                                    <input asp-for="@Model.model.UserRoles[i].Selected" class="form-check-input" />
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="col-sm-12" style=" padding: 20px 20px 0px 0px">
                <button type="submit" id="save" class="btn btn-success">
                    <i class="fa fa-check"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
