@page "{id}"
@model Samanik.Web.Areas.Administration.Pages.Users.EditUserModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "ویرایش ‌کاربران";
}

<div class="container-fluid">
    <div class="layout-specing">
        <div class="modal-content">
            <div class="modal-header border-bottom p-3">
                <h5 class="modal-title" id="exampleModalLabel">ویرایش ‌کاربران</h5>
            </div>

            <div class="modal-body p-3 pt-4">
                <div class="modal-body p-3 pt-4">
                    <form method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="editDto.Id">
                        <div class="row">

                            <div class="col-md-12 mt-4 mt-sm-0">
                                <div class="me-md-4">

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label class="form-label">نام کاربری جهت ورود به سامانه: <span class="text-danger">*</span></label>
                                                <input asp-for="editDto.UserName" type="text" class="form-control" placeholder="نام کاربری را وارد کنید">
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label class="form-label">نام: <span class="text-danger">*</span></label>
                                                <input id="firstName" asp-for="editDto.FirstName" type="text" class="form-control" placeholder="نام کاربر را وارد کنید"
                                                       required oninvalid="setCustomValidity('لطفاً نام   را وارد کنید')"
                                                       oninput="setCustomValidity('')">
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label class="form-label">نام خانوادگی: <span class="text-danger">*</span></label>
                                                <input id="lastName" asp-for="editDto.LastName" type="text" class="form-control" placeholder="نام خانوادگی کاربر را وارد کنید"
                                                       required oninvalid="setCustomValidity('لطفاً نام خانوادگی  را وارد کنید')"
                                                       oninput="setCustomValidity('')">
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">کد ملی: <span class="text-danger">*</span></label>
                                                <input id="nationalCode" asp-for="editDto.NationalCode" type="tel" class="form-control" placeholder="کد ملی را وارد کنید"
                                                       required oninvalid="setCustomValidity('لطفاً کد ملی را وارد کنید')"
                                                       oninput="setCustomValidity('')">
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">شماره تماس: <span class="text-danger">*</span></label>
                                                <input id="tel" asp-for="editDto.Tel" type="text" class="form-control" placeholder="شماره تماس کاربر را وارد کنید"
                                                       pattern="[0-9]{4}[0-9]{3}[0-9]{4}"
                                                       required oninvalid="setCustomValidity('لطفاً شماره تماس  را وارد کنید')"
                                                       oninput="setCustomValidity('')">
                                            </div>
                                        </div><!--end col-->

                                      @*  <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">نقش کاربر: <span class="text-danger">*</span></label>
                                                <select id="roleId" asp-items="ViewBag.Roles" name="RoleId" asp-for="editDto.RoleId" class="form-control doctor-name select2input" multiple
                                                        required oninvalid="setCustomValidity('لطفاً نقش  را وارد کنید')"
                                                        oninput="setCustomValidity('')">
                                                    <option value="" disabled>نقش کاربر را مشخص کنید</option>
                                                </select>
                                            </div>
                                        </div><!--end col-->*@

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">رمز عبور: <span class="text-danger">*</span></label>
                                                <input id="password" asp-for="editDto.Password" type="password" class="form-control" placeholder="رمز عبور را وارد کنید"
                                                       oninvalid="setCustomValidity('لطفاً رمز عبور  را وارد کنید')"
                                                       oninput="setCustomValidity('')" />

                                            </div>
                                            <small style="color:red"> کلمه عبور باید حداقل شش کاراکتر و شامل حروف کوچک و بزرگ باشد</small>
                                        </div><!--end col-->
@*
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">تکرار رمز عبور: <span class="text-danger">*</span></label>
                                                <input id="rePassword" asp-for="editDto.ConfirmPassword" type="password" class="form-control" placeholder="مجددا رمز عبور را وارد کنید"
                                                       required oninvalid="setCustomValidity('لطفاً تکرار رمز عبور  را وارد کنید')"
                                                       oninput="setCustomValidity('')" />
                                            </div>
                                        </div><!--end col-->*@
                                        <br>
                                        <div class="col-lg-12 text-end">
                                            <button type="submit" class="btn btn-primary">ویرایش</button>
                                        </div><!--end col-->
                                    </div>

                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                       <div class="text-danger" asp-validation-summary="All"></div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
