@page "{id}"
@model Samanik.Web.Areas.Administration.Pages.Pharmacy.Product.EditProductModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "ویرایش محصولات داروخانه";
}







<div class="container-fluid">
    <div class="layout-specing">

        <div class="d-md-flex justify-content-between">
            <div>
                <h5 class="mb-0">ویرایش داروخانه</h5>

                <nav aria-label="breadcrumb" class="d-inline-block mt-1">
                    <ul class="breadcrumb breadcrumb-muted bg-transparent rounded mb-0 p-0">
                        <li class="breadcrumb-item"><a href="">سمانیک</a></li>
                        <li class="breadcrumb-item"><a href="/Administraion/Pharmacy/Product">مدیریت محصولات داروخانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ویرایش محصول</li>
                    </ul>
                </nav>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-16 mt-4">
                <div class="card border-0 p-4 rounded shadow">
                    <form class="mt-4" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="dto.Id" />
                        <div class="row">
                            <span>@Model.dto.ProductName</span>
                            <span>@Model.dto.PharmacyName</span>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label class="form-label">تعداد موجودی<span class="text-danger">*</span></label>
                                    <input asp-for="dto.Inventory" type="number" class="form-control" placeholder="Inventory :">
                                </div>
                            </div><!--end col-->

                            <div class="col-4">
                                <div class="mb-3">
                                    <label class="form-label">قیمت <span class="text-danger">*</span></label>
                                    <input asp-for="dto.Price" type="number" class="form-control" placeholder="Price :">
                                </div>
                            </div><!--end col-->

                            <div class="col-4">
                                <div class="mb-3">
                                    <label class="form-label">تخفیف <span class="text-danger">*</span></label>
                                    <input asp-for="dto.Discount" type="number" class="form-control" placeholder="Discount :">
                                </div>
                            </div><!--end col-->

                            <div class="col-4">
                                <div class="mb-3">
                                    <label class="form-label">الویت <span class="text-danger">*</span></label>
                                    <input asp-for="dto.SortId" type="number" class="form-control" placeholder="Sort Id (0-2) :">
                                </div>
                            </div><!--end col-->

                            <div class="col-4">
                                <div class="mb-3">
                                    <label class="form-label">لینک <span class="text-danger">*</span></label>
                                    <input asp-for="dto.LinkAddress" type="text" class="form-control" placeholder="Link :">
                                </div>
                            </div><!--end col-->
                        </div>
                        <br />

                        <button type="submit" class="btn btn-primary">ویرایش </button>
                    </form>
                </div>
            </div><!--end col-->

        </div><!--end row-->
    </div>
</div>